{% extends 'main_app/base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'lecturer_delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
    
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-4">
        <div class="row mb-2">
          <div class="float-right">
              {% if object.profile_pic == ""  %}
                <img src="{{ object.lecturer.profile_pic.url}}" style="width: 134px; height:116px">
                {% else %}
                    <div class="logo"><img src="{{ object.profile_pic.url}}"  style="width: 134px; height:116px">
                    </div>
              {% endif %}
            <h4>Name : {{object.surname}}, {{ object.firstname}} </h4>
            <h4>Gender : {{ object.gender}} </h4>
            <h4>Department :{{ object.lecturer.course.dept_name}} </h4>
            <h4>Email : {{ object.email}}</h4>
            <h4>Course : {{ object.lecturer.course.name}}</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              Mobile Number
            </label>
            <div class="col">
              {{ object.phone_no}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Address
            </label>
            <div class="col">
              {{ object.address}}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Subject
            </label>
            <div class="col">
              {{ object.lecturer.subject.name }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Dept
            </label>
            <div class="col">
              {{ object.lecturer.course.dept_name}}
            </div>
          </div>

        </div>

      </div>
    </div>
{% endblock content %}
