{% extends 'main_app/base.html' %}

{% block page_title %}Students{% endblock page_title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'student-create' %}"><i
    class="fas fa-plus"></i> New student</a>
<a class="btn btn-primary" href="{% url 'student-upload' %}"><i
    class="fas fa-upload"></i> Upload students</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Fullname</th>
          <th>Registration Number</th>
          <th>Gender</th>
          <th>Department</th>
          <th>Level</th>
          <th>Fees</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

        {% for student in students %}
          <tr class='clickable-row' data-href="{% url 'student-detail' student.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ student.last_name}}, {{student.first_name}}</td>
                                    <td>{{student.matric_no}}</td>
                                    <td>{{ student.gender}}</td>
                                    <td>{{ student.student.dept.name}}</td>
                                <td>{{student.phone_no}}</td>
                                    <td>{{ student.student.level.name}}</td>
                                    <td>{{ student.student.dept.fees  | intcomma }}</td>
                                    <td>{{ student.email}}</td>
                                    <td>{{ student.student.course.name}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#studenttable').DataTable({
  });
</script>

{% endblock morejs %}
