{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> SN </th>
                                    <th> Collage </th>
                                    <th> Dept Name </th>
                                    <th> Fees </th>
                                    <th> Edit </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dept in depts %}
                                <tr class='clickable-row' data-href="{% url 'edit_dept' dept.id %}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{dept.collage}}</td>
                                    <td>{{dept.name}}</td>
                                    <td>{{dept.fees}}</td>
                                    <td><a href="{% url 'edit_dept' dept.id %}" class="btn btn-primary">Edit</a></td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block morejs %}
<script>
   $('#depttable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}