{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Phone</th>
                                    <th>Avatar</th>
                                   <!-- <th>Edit</th>--->
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in allStaff %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{staff.staff.surname}}, {{staff.staff.firstname}}</td>
                                    <td>{{staff.email}}</td>
                                    <td>{{staff.gender}}</td>
                                    <td>{{ object.phone_no}}</td>
                                    <td>
                                        {% if staff.profile_pic  == ""  %}
                                        <div class="logo"><img src="{{staff.profile_pic.url}}"  style="width: 134px; height:116px">
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="100" width="100"
                                            src="{{staff.staff.profile_pic.url }}" alt="img">
                                        {% endif %}
                                    </td>

                                   <!----- <td><a href="
                                      {% url 'edit_staff' staff.id %}" class="btn btn-primary">Edit</a></td> --->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block morejs %}
<script>
  $('#invoicetable').DataTable({
  });
</script>

{% endblock morejs %}