{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Course</th>
                                    <th>Avatar</th>
                                    <!---<th>Edit</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {% for lecturer in allLecturer %}
                                <tr class='clickable-row'  data-href="{% url 'lecturer_detail' lecturer.id %}" >
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{lecturer.surname}}, {{lecturer.firstname}}</td>
                                    <td>{{lecturer.email}}</td>
                                    <td>{{lecturer.gender}}</td>
                                    <td>{{lecturer.lecturer.course.name}}</td>
                                    <td>
                                        {% if lecturer.profile_pic == ""  %}
                                            <div class="logo"><img src="{{ lecturer.lecturer.profile_pic.url}}"  style="width: 134px; height:116px">
                                        {% else %}
                                            <img class="img-responsive thumbnail" height="100" width="100"
                                                src="{{lecturer.profile_pic.url}}"  alt="img">
                                        {% endif %}
                                    </td>

                                    <!---<td><a href="
                                        {% url 'edit_lecturer' lecturer.id %}" class="btn btn-primary">Edit</a></td> ---->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block morejs %}
<script>
  $('#invoicetable').DataTable({
  });
</script>

{% endblock morejs %}



