{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}


{% include "main_app/sidebar_template.html" with user=user %}

{% block breadcrumb %}

<li class="nav-item">
{% url 'add_student' as add_student%}
<a href="{{add_student}}" class="btn btn-primary  {% if add_student == request.path %} active {% endif %}">
    <i class="fas fa-plus"></i>
    <p>
        Add Student

    </p>
</a>
</li>
{% endblock breadcrumb %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    
                    <!-- /.card-header -->
                    <div class="table-responsive">
                        <table id="invoicetable" class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr >
                                    <th>SN</th>
                                    <th>Full Name</th>
                                    <th>Matric_No</th>
                                    <th>Gender</th>
                                    <th>Department</th>
                                    <th>Level</th>
                                    <th>Fees</th>
                                    <th>Email</th>
                                    <th>Course</th>
                                    <th>Avatar</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr class='clickable-row' data-href="{% url 'student-detail' student.id %}">
                                  <td>{{ forloop.counter}}</td>
                                  <td>{{ student.surname}} {{student.firstname }} {{student.other_name }}</td>
                                  <td>{{ student.registration_number}}</td>
                                  <td>{{ student.gender}}</td>
                                  <td>{{ student.dept}}</td>
                                  <td>{{ student.level}}</td>
                                  <td>{{ student.fees}}</td>
                                  <td>{{ student.get_current_status_display}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block morejs %}
<script>
  $('#invoicetable').DataTable({
  });
</script>

{% endblock morejs %}
